createdAt: "2019-04-10T15:58:51.162Z"
updatedAt: "2019-04-10T15:58:56.689Z"
type: "SNIPPET_NOTE"
folder: "18d218dbb9db582ec753"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
