createdAt: "2019-04-10T15:58:19.550Z"
updatedAt: "2019-04-10T15:58:47.617Z"
type: "MARKDOWN_NOTE"
folder: "18d218dbb9db582ec753"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
